@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:300');
body {
  font-family: 'Open Sans', sans-serif;
  margin: none;
  padding: none;
  background: #fafafa;
  /*font-family: 'Roboto', sans-serif;*/
}
